<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>メール通知システム | 順正保育園</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%"><input type="button" onClick="location.href='menu.html'" value="管理者メニューへ" /></td>
    <td width="50%" align="right">&nbsp;</td>
  </tr>
</table>
<hr noshade="noshade" />
<table width="920" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td class="col1">■メール通知システム　＞　送信済みメールの一覧</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr class="col3">
        <td width="18%" align="center">送信日時</td>
        <td width="15%" align="center">送信先クラス</td>
        <td width="12%" align="center">宛名</td>
        <td align="center">タイトル</td>
        <td width="1%" align="center">参照</td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
        <td>保護者あて</td>
        <td>台風接近に伴う保育について（9月15日）</td>
        <td><input type="button" onClick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
        <td>保護者あて</td>
        <td>台風接近に伴う保育について（9月15日）</td>
        <td><input type="button" onclick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
        <td>保護者あて</td>
        <td>台風接近に伴う保育について（9月15日）</td>
        <td><input type="button" onclick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
        <td>保護者あて</td>
        <td>台風接近に伴う保育について（9月15日）</td>
        <td><input type="button" onclick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
        <td>保護者あて</td>
        <td>台風接近に伴う保育について（9月15日）</td>
        <td><input type="button" onclick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
      <tr>
        <td>2016/09/02 12:34:56</td>
        <td>ちゅーりっぷ組</td>
        <td>園児あて</td>
        <td>テスト</td>
        <td><input type="button" onclick="location.href='mail_view.html'" value="参照" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><input type="submit" name="button4" id="button4" value="前の10件を表示" disabled="disabled" />
      　　　　　
      <input type="submit" name="button5" id="button5" value="次の10件を表示" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
