<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>メール通知システム | 順正保育園</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%"><input type="button" onClick="location.href='menu.html'" value="管理者メニューへ" /></td>
    <td width="50%" align="right">&nbsp;</td>
  </tr>
</table>
<hr noshade="noshade" />
<table width="920" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td class="col1">■メール通知システム　＞　送信済みメールの詳細</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <td class="col3">送信日時</td>
        <td>2016/04/15 12:34:56</td>
      </tr>
      <tr>
        <td width="25%" class="col3">送信先クラス名</td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
      </tr>
      <tr>
        <td width="25%" class="col3">宛名</td>
        <td>保護者名あて/園児名あて　　　
          <input type="button" onClick="location.href='mail_sent_list.html'" value="送信済みメールアドレス一覧を表示" /></td>
      </tr>
      <tr>
        <td width="25%" class="col3">差出人名</td>
        <td>順正保育園</td>
      </tr>
      <tr>
        <td width="25%" class="col3">差出人メールアドレス</td>
        <td>info@junsei-hoikuen.jp</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <td width="25%" class="col3">タイトル</td>
        <td>Mail title</td>
      </tr>
      <tr>
        <td width="25%" class="col3">本文</td>
        <td>＊＊＊＊様（＊＊＊＊くん／ちゃん）　←1行目には上記で指定した宛名が自動で入ります<br />
          <br />
          台風12号が接近しているため、本日は、午前保育といたします。<br />
昼食後、帰宅させますので、送迎の方はご注意ください。<br />
台風12号が接近しているため、本日は、午前保育といたします。<br />
昼食後、帰宅させますので、送迎の方はご注意ください。</td>
      </tr>
      <tr>
        <td width="25%" class="col3">添付ファイル</td>
        <td>（<a href="hoge.pdf">表示</a>）/なし</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><input type="button" onClick="location.href='mail_list.html'" value="送信済みメール一覧に戻る" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
