<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>メール通知システム | 順正保育園</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%"><input type="button" onClick="location.href='menu.html'" value="管理者メニューへ" /></td>
    <td width="50%" align="right">&nbsp;</td>
  </tr>
</table>
<hr noshade="noshade" />
<table width="920" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td class="col1">■メール通知システム　＞　送信済みメールの詳細</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr class="col3">
        <td align="center">送信先クラス名</td>
        <td align="center">受取人名</td>
        <td align="center">メールアドレス</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
      <tr>
        <td>ゆり組</td>
        <td>＊＊＊＊様</td>
        <td class="eng">test@chiroro.co.jp</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><input type="button" onClick="location.href='mail_view.html'" value="送信済みメール詳細に戻る" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
