<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>メール通知システム | 順正保育園</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%"><input type="button" onClick="location.href='menu.html'" value="管理者メニューへ" /></td>
    <td width="50%" align="right">&nbsp;</td>
  </tr>
</table>
<hr noshade="noshade" />
<table width="920" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td class="col1">■メール通知システム　＞　メールの作成（確認）</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>今し方、テストメールを <span class="eng">hoge@hoge.com</span> 宛に送信しました。受信して内容を確認してください。</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <td width="25%" class="col3">送信先クラス名&nbsp;<span class="f_caution">[*]</span></td>
        <td>ゆり組<br />
          ひまわり組<br />
          すみれ組<br />
          ひなぎく組<br />
          ちゅーりっぷ組</td>
      </tr>
      <tr>
        <td width="25%" class="col3">宛名<span class="f_caution">&nbsp;[*]</span></td>
        <td>保護者名あて</td>
      </tr>
      <tr>
        <td width="25%" class="col3">差出人名&nbsp;<span class="f_caution">[*]</span></td>
        <td>順正保育園</td>
      </tr>
      <tr>
        <td width="25%" class="col3">差出人メールアドレス&nbsp;<span class="f_caution">[*]</span></td>
        <td>info@junsei-hoikuen.jp</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <td width="25%" class="col3">タイトル&nbsp;<span class="f_caution">[*]</span></td>
        <td>台風接近に伴う保育について（9月15日）</td>
      </tr>
      <tr>
        <td width="25%" class="col3">本文<span class="f_caution">&nbsp;[*]</span></td>
        <td>＊＊＊＊様　<em>←1行目には上記で指定した宛名が自動で入ります</em><br />
          <br />
          台風12号が接近しているため、本日は、午前保育といたします。<br />
          昼食後、帰宅させますので、送迎の方はご注意ください。</td>
      </tr>
      <tr>
        <td width="25%" class="col3">添付ファイル</td>
        <td>（<a href="hoge.jpg">表示</a>）</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><input type="button" onClick="location.href='meibo_regist_end.html'" value="この内容で送信する（確認済）" />
      　　　　　
      <input type="button" onClick="history.back()" value="戻って修正する" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
